@charset "UTF-8";
/*
Theme Name: Mid-American Conference MACTION
Theme URI: http://something.com
Description: Description here
Version: 0.5
Author: Gregory Spraggins for 160over90
Author URI: http://160over90.com
*/
@import url("//hello.myfonts.net/count/2e903f");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: text-bottom; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* CSS Document */
/**
 * @license
 * MyFonts Webfont Build ID 3051583, 2015-06-30T14:19:18-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: TradeGothicLT by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/trade-gothic-63882/
 * Licensed pageviews: 250,000
 * 
 * Webfont: TradeGothicLT-BoldCondTwenty by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/bold-condensed-no-20-63882/
 * Licensed pageviews: 500,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3051583
 * Webfonts copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted (c) 1989, 1992, 2003 Linotype Library GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype Library GmbH, and 
 * 
 * © 2015 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'TradeGothicLT';
  src: url("webfonts/2E903F_0_0.eot");
  src: url("webfonts/2E903F_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/2E903F_0_0.woff2") format("woff2"), url("webfonts/2E903F_0_0.woff") format("woff"), url("webfonts/2E903F_0_0.ttf") format("truetype"); }
@font-face {
  font-family: 'TradeGothicLT-BoldCondTwenty';
  src: url("webfonts/2E903F_1_0.eot");
  src: url("webfonts/2E903F_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/2E903F_1_0.woff2") format("woff2"), url("webfonts/2E903F_1_0.woff") format("woff"), url("webfonts/2E903F_1_0.ttf") format("truetype"); }
/*----------- VARIABLES ------------*/
/*------------- MIXINS -------------*/
/*------------- BODY ---------------*/
body {
  overflow-x: hidden; }

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

.cleaner {
  clear: both;
  font-size: 0px;
  height: 0px; }

p {
  word-wrap: break-word; }

em {
  font-style: italic;
  vertical-align: baseline; }

strong {
  font-weight: 600;
  vertical-align: baseline; }

span {
  vertical-align: baseline; }

img {
  height: auto;
  width: auto;
  max-width: 100%; }

.row {
  max-width: 1200px;
  margin: 0 auto; }

.rotate-3 {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  writing-mode: lr-tb; }

.rotate-357 {
  -webkit-transform: rotate(357deg);
  -moz-transform: rotate(357deg);
  -o-transform: rotate(357deg);
  writing-mode: lr-tb; }

.standard_transition, #overlay-menu ul li a, #MACDigital .line-btn, #share-divider ul li a, #slider-con .navigator, .story-module img, .story-module .contents .author span, .story-module .contents .author a, .story-module .contents h4 a, #story .author span, #story .author a, #story h4 a, #mactalk .share li a, #footer .navigation ul li a, #footer .copyright ul li a {
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s; }

.slow_transition, .green-btn, #video .spotlightcon, #video .watch-btn, #video .watch-btn .fa, #MACDigital .thumb .fa {
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s; }

.centered, #overlay-menu ul, #slider-con .navigator, #mactalk .share li a .fa {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.no-csstransforms3d .centered, .no-csstransforms3d #overlay-menu ul, #overlay-menu .no-csstransforms3d ul, .no-csstransforms3d #slider-con .navigator, #slider-con .no-csstransforms3d .navigator, .no-csstransforms3d #mactalk .share li a .fa, #mactalk .share li a .no-csstransforms3d .fa {
  top: 20%; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%; }

#faux-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  position: fixed;
  top: 0px;
  display: block;
  z-index: -1; }

#faux-container {
  overflow-x: hidden;
  height: 100%; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.divider-con {
  height: 0px;
  position: relative;
  z-index: 8; }
  .divider-con .divider1, .divider-con .divider2, .divider-con .divider3, .divider-con .divider4 {
    max-width: none;
    min-width: 100%;
    width: 1400px;
    position: absolute; }
  .divider-con .divider1 {
    top: -50px; }
  .divider-con .divider2 {
    top: -100px; }
  .divider-con .divider3 {
    top: -40px; }
  .divider-con .divider4 {
    top: -40px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }

h2 {
  font-family: 'Vitesse A', 'Vitesse B';
  font-size: 35px;
  font-weight: 700;
  line-height: 94px;
  color: #101010;
  margin-bottom: 0px;
  text-transform: uppercase;
  height: 94px;
  width: 355px;
  max-width: 100%;
  background-image: url(images/tape.png);
  margin: 0 auto;
  display: block;
  z-index: 5;
  position: relative;
  text-align: center; }
  h2.macdigital {
    top: -70px; }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 30px;
      background-size: 320px;
      height: 76px;
      width: 320px;
      line-height: 76px;
      background-repeat: no-repeat; } }

.green-btn {
  font-family: 'Vitesse A', 'Vitesse B';
  font-size: 25px;
  font-weight: 500;
  line-height: 50px;
  color: #ffffff;
  margin-bottom: 80px;
  background-color: #00a261;
  padding: 0 54px;
  display: table;
  cursor: pointer;
  text-decoration: none; }
  @media screen and (max-width: 767px) {
    .green-btn {
      font-size: 20px;
      padding: 0 30px; } }
  .green-btn:hover, .green-btn:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #002a5c; }
  .green-btn .fa {
    vertical-align: baseline; }

/*------------- HEAD ---------------*/
#header {
  height: 0px;
  width: 100%;
  position: fixed;
  z-index: 10; }
  #header .row {
    height: 0px;
    position: relative; }

#nav-toggle {
  position: absolute;
  right: 30px;
  top: 60px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  display: block; }
  #nav-toggle.index {
    top: 30px; }
    @media screen and (max-width: 767px) {
      #nav-toggle.index {
        top: 50px; } }
    #nav-toggle.index span, #nav-toggle.index span:before, #nav-toggle.index span:after {
      background: #002a5c; }
  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }

#nav-toggle.active.index span:before, #nav-toggle.active.index span:after {
  background: #ffffff; }
#nav-toggle.active span {
  background-color: transparent; }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0; }
  #nav-toggle.active span:before {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
  #nav-toggle.active span:after {
    -moz-transform: translateY(-10px) rotate(-45deg);
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    top: 10px; }

/*------------- MENU ---------------*/
#overlay-menu {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.94);
  overflow-y: auto;
  position: fixed;
  z-index: 9;
  display: none; }
  #overlay-menu ul li {
    font-family: "TradeGothicLT-BoldCondTwenty", sans-serif;
    font-size: 35px;
    font-weight: normal;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 16px;
    text-transform: uppercase;
    text-align: center; }
    @media screen and (max-width: 767px) {
      #overlay-menu ul li {
        font-size: 22px;
        line-height: 22px; } }
    #overlay-menu ul li a {
      color: #ffffff; }
      #overlay-menu ul li a:hover {
        color: #00a261;
        text-decoration: none; }
        #overlay-menu ul li a:hover .fa {
          color: #00a261; }
    #overlay-menu ul li .fa {
      font-size: 18px;
      color: #a7a9ac;
      vertical-align: baseline; }

/*------------- HERO ---------------*/
#hero {
  height: 100%;
  background-size: cover;
  background-image: url(images/home-herobackground.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  position: relative; }
  @media screen and (max-width: 991px) {
    #hero {
      height: auto;
      padding-bottom: 220px; } }
  #hero .row:first-child {
    height: 0px; }
    @media screen and (max-width: 991px) {
      #hero .row:first-child {
        margin-bottom: 150px; } }
    #hero .row:first-child .col-sm-12 {
      height: 0px; }
  #hero .logo {
    width: 175px;
    margin-top: 20px;
    z-index: 10;
    position: relative; }
    @media screen and (max-width: 767px) {
      #hero .logo {
        max-width: 150px; } }
  @media screen and (min-width: 992px) {
    #hero #welcome-con {
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); } }
  #hero #welcome-con #welcome {
    width: 100%;
    padding-top: 80px;
    margin: 0 auto;
    display: block; }
    @media screen and (max-width: 991px) {
      #hero #welcome-con #welcome {
        max-width: 492px; } }
  #hero #welcome-con #cta {
    width: 100%;
    max-width: 505px;
    margin: 0 auto;
    display: block; }
    @media screen and (max-width: 991px) {
      #hero #welcome-con #cta {
        max-width: 440px;
        margin-top: -30px; } }
  #hero .bottom {
    width: 100%;
    position: absolute;
    bottom: 100px; }
    #hero .bottom .arrow {
      display: block;
      margin: 0 auto;
      cursor: pointer; }

@media screen and (min-width: 992px) {
  .no-csstransforms3d #hero #welcome-con {
    top: 20% !important; } }

/*------------- HERO2 ---------------*/
#video {
  background-size: cover;
  background-image: url(images/home-herobackground2.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  padding: 200px 0;
  position: relative; }
  #video .overlay {
    top: 0px; }
  #video .vid-con {
    max-width: 1170px;
    margin: 0 auto;
    z-index: 2;
    display: none; }
  #video .row {
    position: relative;
    z-index: 1; }
    #video .row .col-sm-8, #video .row .col-md-8 {
      z-index: 3; }
  #video .spotlightcon {
    position: relative; }
    #video .spotlightcon .teamlogos {
      margin: 0 auto;
      display: block;
      position: relative;
      z-index: -1; }
      @media screen and (max-width: 767px) {
        #video .spotlightcon .teamlogos {
          opacity: 0; } }
  #video .teams {
    margin: 0 auto;
    display: block; }
  #video .spotlight {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    margin-bottom: 60px;
    display: block; }
  #video .watch-btn {
    font-family: 'Vitesse A', 'Vitesse B';
    font-size: 25px;
    font-weight: normal;
    line-height: 66px;
    color: #ffea00;
    margin-bottom: 0px;
    text-transform: uppercase;
    padding: 0 28px;
    border: 2px solid #ffffff;
    display: table;
    margin: 0 auto;
    cursor: pointer; }
    #video .watch-btn:hover {
      color: #101010;
      background-color: #ffffff; }
      #video .watch-btn:hover .fa {
        color: #101010; }
    #video .watch-btn .fa {
      color: #ffffff;
      margin-right: 20px; }
  #video .spotlight-img {
    position: absolute;
    z-index: 0; }
    #video .spotlight-img.left {
      top: 0%;
      left: 0px;
      z-index: 1; }
      @media screen and (max-width: 991px) {
        #video .spotlight-img.left {
          left: -215px; } }
      @media screen and (max-width: 767px) {
        #video .spotlight-img.left {
          top: 10%;
          left: -80px; } }
    #video .spotlight-img.right {
      top: 20%;
      right: 0px; }
      @media screen and (max-width: 991px) {
        #video .spotlight-img.right {
          right: -125px; } }
      @media screen and (max-width: 767px) {
        #video .spotlight-img.right {
          top: 30%;
          right: -85px; } }

#MACDigital {
  background-color: #002a5c;
  position: relative;
  z-index: 1;
  padding-top: 70px;
  padding-bottom: 100px; }
  #MACDigital::before, #MACDigital::after {
    position: absolute;
    content: '';
    pointer-events: none; }
  #MACDigital::before {
    top: 0px;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: right 0 0;
    transform-origin: right 0 0; }
  #MACDigital .row:first-child {
    margin-bottom: 30px; }
  #MACDigital .embed-container {
    margin-bottom: 14px; }
  #MACDigital .thumb {
    position: relative;
    margin-bottom: 14px;
    display: block; }
    #MACDigital .thumb img {
      width: 100%; }
    #MACDigital .thumb:hover .fa {
      opacity: .6; }
    #MACDigital .thumb .fa {
      font-size: 63px;
      color: #ffffff;
      opacity: .9;
      display: table; }
  #MACDigital h4 {
    font-family: "TradeGothicLT", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: #101010;
    margin-bottom: 18px;
    text-transform: uppercase; }
    #MACDigital h4 a {
      color: #ffffff; }
      #MACDigital h4 a:hover {
        text-decoration: underline; }
  #MACDigital .line-btn {
    font-family: 'Vitesse A', 'Vitesse B';
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
    color: #ffffff;
    margin-bottom: 80px;
    border: 2px solid #ffffff;
    padding: 0 28px;
    margin: 0 auto;
    display: table; }
    @media screen and (max-width: 767px) {
      #MACDigital .line-btn {
        font-size: 20px;
        padding: 0 30px; } }
    #MACDigital .line-btn:hover {
      color: #002a5c;
      text-decoration: none;
      background-color: #ffffff; }
    #MACDigital .line-btn .fa {
      font-size: 13px;
      vertical-align: middle; }

#share-divider {
  background-color: #00a261;
  position: relative;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 25px; }
  #share-divider::before, #share-divider::after {
    position: absolute;
    content: '';
    pointer-events: none; }
  #share-divider::before {
    top: 0px;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: right 0 0;
    transform-origin: right 0 0; }
  #share-divider::after {
    top: 100%;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  #share-divider h5 {
    font-family: "TradeGothicLT", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #101010;
    margin-bottom: 34px;
    text-transform: uppercase;
    text-align: center; }
  #share-divider ul {
    margin: 0 auto;
    display: table; }
    #share-divider ul li {
      font-size: 34px;
      display: inline-block;
      margin-right: 56px;
      color: #101010; }
      #share-divider ul li:last-child {
        margin-right: 0px; }
      #share-divider ul li a {
        color: #101010; }
        #share-divider ul li a:hover {
          color: #ffffff; }
  #share-divider .bottom {
    height: 0px;
    width: 100%;
    position: absolute;
    bottom: -10px; }

.in-the-news {
  top: 25px; }

#home-stories {
  padding: 200px 0;
  background-image: url(images/home-storiestexture-top.png), url(images/home-storiestexture-bottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-size: 100%, 100%;
  background-color: #f5f5f5; }
  @media screen and (max-width: 767px) {
    #home-stories {
      padding-bottom: 100px; } }
  #home-stories h3 {
    font-family: "TradeGothicLT-BoldCondTwenty", sans-serif;
    font-size: 56px;
    font-weight: normal;
    line-height: 56px;
    color: #002a5c;
    margin-bottom: 64px;
    text-transform: uppercase;
    text-align: center; }
    @media screen and (max-width: 767px) {
      #home-stories h3 {
        font-size: 44px;
        line-height: 48px; } }
    #home-stories h3 span {
      color: #00a261;
      vertical-align: baseline; }
  #home-stories .description {
    font-family: 'Vitesse A', 'Vitesse B';
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    color: #101010;
    margin-bottom: 50px;
    text-align: center; }
  #home-stories .green-btn {
    margin: 0 auto 80px auto; }
  #home-stories .story-module {
    /*float: right;*/ }
    @media screen and (max-width: 767px) {
      #home-stories .story-module {
        padding: 0px; } }
    #home-stories .story-module:nth-child(even) {
      clear: left; }
    #home-stories .story-module:nth-child(2) {
      margin-top: 150px; }
      @media screen and (max-width: 767px) {
        #home-stories .story-module:nth-child(2) {
          margin-top: 46px; } }
    #home-stories .story-module .contents {
      height: auto; }

#slider-con {
  position: relative;
  margin-bottom: 70px; }
  #slider-con > .col-sm-12 {
    padding-right: 0px;
    padding-left: 0px; }
  #slider-con .navigator {
    position: absolute;
    background-color: #00a261;
    color: #ffffff;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1; }
    @media screen and (max-width: 1400px) {
      #slider-con .navigator {
        display: none !important; } }
    #slider-con .navigator:hover {
      background-color: #002a5c; }
    #slider-con .navigator.prev {
      left: -80px; }
      #slider-con .navigator.prev .fa {
        margin-left: -4px; }
        @media screen and (max-width: 767px) {
          #slider-con .navigator.prev .fa {
            margin-left: -5px; } }
    #slider-con .navigator.next {
      right: -80px; }
      #slider-con .navigator.next .fa {
        margin-right: -4px; }
        @media screen and (max-width: 767px) {
          #slider-con .navigator.next .fa {
            margin-right: -5px; } }
    #slider-con .navigator .fa {
      font-size: 18px;
      text-align: center;
      display: block;
      margin-top: 28px; }
      @media screen and (max-width: 767px) {
        #slider-con .navigator .fa {
          font-size: 18px;
          margin-top: 15px; } }

#press-slider {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; }
  #press-slider .slick-list {
    overflow: visible !important; }
  #press-slider .slide {
    min-height: 500px;
    padding-right: 15px;
    padding-left: 15px; }
  #press-slider .slick-dots {
    top: -40px;
    bottom: auto;
    display: none !important; }
    @media screen and (max-width: 1400px) {
      #press-slider .slick-dots {
        display: block !important; } }
    #press-slider .slick-dots li {
      margin: 0 2px; }
      #press-slider .slick-dots li button:before {
        font-size: 10px; }
      #press-slider .slick-dots li.slick-active button:before {
        color: #00a261; }

.story-module img {
  width: 100%; }
  .story-module img:hover {
    opacity: .8; }
.story-module .contents {
  background-color: #ffffff;
  padding: 34px 20px 30px 20px;
  height: 300px; }
  .story-module .contents .author {
    font-family: "TradeGothicLT", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #101010;
    margin-bottom: 12px;
    text-transform: uppercase; }
    .story-module .contents .author span {
      color: #b9b9b9; }
    .story-module .contents .author a {
      color: #101010; }
      .story-module .contents .author a:hover {
        color: #00a261;
        text-decoration: none; }
        .story-module .contents .author a:hover span {
          color: #00a261; }
  .story-module .contents h4 {
    font-family: "TradeGothicLT", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: #101010;
    margin-bottom: 18px;
    text-transform: uppercase; }
    .story-module .contents h4 a {
      color: #101010; }
      .story-module .contents h4 a:hover {
        color: #00a261;
        text-decoration: none; }
  .story-module .contents p {
    font-family: "TradeGothicLT", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    color: #747374;
    margin-bottom: 0px; }

#home-mac-talk {
  background-image: url(images/mactalk-bg-1400x922.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 250px 0; }
  @media screen and (max-width: 991px) {
    #home-mac-talk {
      padding: 180px 0; } }
  #home-mac-talk .fight {
    width: 100%;
    max-width: 490px;
    margin: 0 auto;
    display: block; }
    @media screen and (max-width: 991px) {
      #home-mac-talk .fight {
        margin-bottom: 25px; } }
  #home-mac-talk p {
    font-family: 'Vitesse A', 'Vitesse B';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 46px; }
    @media screen and (max-width: 991px) {
      #home-mac-talk p {
        max-width: 530px;
        text-align: center;
        margin: 0 auto 46px auto; } }
    #home-mac-talk p.invite {
      font-size: 24px;
      font-weight: 500;
      line-height: 35px; }
      @media screen and (max-width: 991px) {
        #home-mac-talk p.invite {
          text-align: center; } }
    #home-mac-talk p .fa {
      font-size: 16px;
      color: #ffea00;
      vertical-align: baseline; }
  @media screen and (max-width: 991px) {
    #home-mac-talk .green-btn {
      margin: 0 auto 50px auto; } }

#home-social-stadium {
  background-image: url(images/home-socialstadiumbck.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 250px 0;
  position: relative; }
  @media screen and (max-width: 991px) {
    #home-social-stadium {
      padding: 180px 0; } }
  @media screen and (max-width: 767px) {
    #home-social-stadium {
      text-align: center; } }
  #home-social-stadium h3 {
    font-family: "TradeGothicLT-BoldCondTwenty", sans-serif;
    font-size: 60px;
    font-weight: normal;
    line-height: normal;
    color: #101010;
    margin-bottom: 20px;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      #home-social-stadium h3 {
        font-size: 43px; } }
    #home-social-stadium h3 span {
      color: #00a261; }
  #home-social-stadium .description {
    font-family: 'Vitesse A', 'Vitesse B';
    font-size: 20px;
    font-weight: normal;
    line-height: 35px;
    color: #101010;
    margin-bottom: 50px; }
    @media screen and (max-width: 991px) {
      #home-social-stadium .description {
        display: none; } }
    #home-social-stadium .description.mobile {
      display: none; }
      @media screen and (max-width: 991px) {
        #home-social-stadium .description.mobile {
          display: block !important; } }
  #home-social-stadium .green-btn {
    margin-bottom: 0px; }
    @media screen and (max-width: 767px) {
      #home-social-stadium .green-btn {
        margin: 0 auto; } }
  #home-social-stadium .product-placement {
    position: absolute;
    right: 0px;
    top: 170px;
    max-width: none; }
    @media screen and (max-width: 1900px) {
      #home-social-stadium .product-placement {
        right: -300px; } }
    @media screen and (max-width: 1260px) {
      #home-social-stadium .product-placement {
        right: -600px; } }
    @media screen and (max-width: 991px) {
      #home-social-stadium .product-placement {
        right: -650px; } }
    @media screen and (max-width: 850px) {
      #home-social-stadium .product-placement {
        right: -700px; } }
    @media screen and (max-width: 767px) {
      #home-social-stadium .product-placement {
        display: none; } }

/*------------- INDEX --------------*/
#hero-index {
  height: 600px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  overflow-x: hidden; }
  @media screen and (max-width: 767px) {
    #hero-index {
      height: 700px; } }
  #hero-index .row:first-of-type {
    height: 0px; }
    #hero-index .row:first-of-type .col-sm-12 {
      height: 0px; }
  #hero-index .logo {
    width: 175px;
    margin-top: 10px;
    z-index: 10;
    position: relative; }
    @media screen and (max-width: 767px) {
      #hero-index .logo {
        max-width: 150px; } }
  #hero-index.index {
    background-image: url(images/index-hero.jpg); }
  #hero-index.single {
    background-image: url(images/default-banner.jpg); }
  #hero-index.mactalk {
    height: 300px; }
    @media screen and (max-width: 991px) {
      #hero-index.mactalk {
        height: 220px; } }
  #hero-index .cta {
    text-align: center;
    padding-top: 100px; }
  #hero-index .top-frame {
    max-width: none;
    min-width: 100%;
    width: 1400px;
    position: absolute;
    top: 0px; }
  #hero-index h1 {
    font-family: 'Vitesse A', 'Vitesse B';
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
    color: #ffffff;
    margin-bottom: 0px;
    text-transform: uppercase; }
  #hero-index h3 {
    font-family: "TradeGothicLT-BoldCondTwenty", sans-serif;
    font-size: 52px;
    font-weight: normal;
    line-height: 52px;
    color: #ffffff;
    margin-bottom: 34px;
    text-transform: uppercase;
    text-align: center; }
    @media screen and (max-width: 767px) {
      #hero-index h3 {
        font-size: 44px;
        line-height: 48px; } }
  #hero-index p {
    font-family: 'Vitesse A', 'Vitesse B';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 0px;
    max-width: 900px;
    margin: 0 auto; }

#index {
  padding-top: 60px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  background-image: url(images/home-storiestexture-bottom.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%; }
  #index::before, #index::after {
    position: absolute;
    content: '';
    pointer-events: none;
    background-color: #ffffff !important;
    background-image: none !important; }
  #index::before {
    top: 0px;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 25%;
    background: inherit;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: right 0 0; }
  #index.related {
    padding-top: 150px;
    padding-bottom: 60px; }
  #index .top {
    position: absolute;
    width: 100%;
    top: -90px; }
    @media screen and (max-width: 991px) {
      #index .top {
        top: -60px; } }
  #index .story-module {
    max-height: none;
    margin-bottom: 70px; }
    @media screen and (max-width: 767px) {
      #index .story-module {
        margin-bottom: 46px; } }

.previous-link {
  font-family: 'Vitesse A', 'Vitesse B';
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #002a5c;
  margin-bottom: 28px;
  display: table; }
  @media screen and (max-width: 767px) {
    .previous-link {
      margin: 0 auto 28px auto; } }

/*------------ STORY --------------*/
#story {
  padding-top: 60px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
  background-color: #ffffff; }
  #story::before, #story::after {
    position: absolute;
    content: '';
    pointer-events: none;
    background-color: #ffffff !important;
    background-image: none !important; }
  #story::before {
    top: 0px;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 25%;
    background: inherit;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: right 0 0; }
  #story .author {
    font-family: "TradeGothicLT", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #101010;
    margin-bottom: 14px;
    text-transform: uppercase; }
    #story .author span {
      color: #b9b9b9; }
    #story .author a {
      color: #101010; }
      #story .author a:hover {
        color: #00a261;
        text-decoration: none; }
        #story .author a:hover span {
          color: #00a261; }
  #story h4 {
    font-family: "TradeGothicLT", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: #101010;
    margin-bottom: 22px;
    text-transform: uppercase; }
    #story h4 a {
      color: #101010; }
      #story h4 a:hover {
        color: #00a261;
        text-decoration: none; }
  #story p {
    font-family: "TradeGothicLT", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 35px;
    color: #101010;
    margin-bottom: 30px; }

/*------------ MACTALK ------------*/
#mactalk {
  background-color: #ffffff;
  background-image: url(images/home-storiestexture-bottom.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  padding-bottom: 140px;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 991px) {
    #mactalk .row {
      margin: 0 auto;
      max-width: 480px; } }
  @media screen and (max-width: 991px) {
    #mactalk .previous-link {
      display: none; } }
  #mactalk h1 {
    font-family: "TradeGothicLT-BoldCondTwenty", sans-serif;
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    color: #002a5c;
    margin-bottom: 40px;
    text-transform: uppercase; }
    @media screen and (max-width: 991px) {
      #mactalk h1 {
        font-size: 44px;
        text-align: center; } }
  #mactalk .instructions {
    margin-bottom: 40px; }
    #mactalk .instructions li {
      font-family: 'Vitesse A', 'Vitesse B';
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      color: #101010;
      margin-bottom: 14px;
      padding-left: 38px;
      position: relative; }
      #mactalk .instructions li:before {
        content: "\f005";
        font-family: FontAwesome;
        color: #00a261;
        position: absolute;
        left: 0px; }
  #mactalk h6 {
    font-family: "TradeGothicLT-BoldCondTwenty", sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 35px;
    color: #002a5c;
    margin-bottom: 10px;
    text-transform: uppercase; }
  #mactalk .share li {
    display: inline-block;
    margin: 0 12px; }
    #mactalk .share li a {
      height: 55px;
      width: 55px;
      border-radius: 27px;
      background-color: #00a261;
      display: block;
      position: relative;
      cursor: pointer; }
      #mactalk .share li a:hover {
        background-color: #002a5c; }
      #mactalk .share li a .fa {
        font-size: 27px;
        color: #ffffff;
        display: table; }

#snap-front {
  width: 100%;
  display: block; }

#team-option, #talk-option {
  position: relative;
  cursor: pointer; }
  @media screen and (max-width: 991px) {
    #team-option, #talk-option {
      margin-bottom: 36px; } }

#team-option {
  z-index: 1; }

.current-option {
  font-family: "TradeGothicLT-BoldCondTwenty", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 14px;
  text-transform: uppercase;
  width: 100%;
  max-width: 450px;
  padding: 10px 48px 10px 30px;
  background-color: #00a261;
  background-image: url(images/dropdown-arrow.png);
  background-repeat: no-repeat;
  background-position: center right 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.option-list {
  position: absolute;
  top: 55px;
  width: 100%;
  max-width: 450px;
  display: none;
  max-height: 240px;
  overflow-y: scroll;
  z-index: 4; }
  .option-list.toggle {
    display: block; }
  .option-list li {
    font-family: "TradeGothicLT-BoldCondTwenty", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 14px;
    color: #ffffff;
    margin-bottom: 0px;
    background-color: #002a5c;
    padding: 10px 0px 10px 30px; }

#your-image, #your-image2, #your-image-mobile {
  position: relative; }

@media screen and (max-width: 991px) {
  #your-image {
    display: none; } }

#your-image2 {
  top: 0px;
  right: 0px;
  z-index: -1;
  position: absolute; }

#your-image-mobile {
  display: none;
  margin-bottom: 36px; }
  @media screen and (max-width: 991px) {
    #your-image-mobile {
      display: block; } }

canvas {
  display: none; }

/*------------ FOOTER -------------*/
#footer {
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 767px) {
    #footer {
      overflow-x: hidden; } }
  #footer::before, #footer::after {
    position: absolute;
    content: '';
    pointer-events: none;
    background-color: #ffffff !important; }
  #footer::before {
    top: -5px;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 90%;
    background: inherit;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  #footer .navigation {
    height: 78px;
    padding-top: 25px;
    background-color: #ffffff; }
    @media screen and (max-width: 767px) {
      #footer .navigation {
        height: auto;
        padding: 70px 0; } }
    #footer .navigation ul {
      display: table;
      margin: 0 auto; }
      #footer .navigation ul li {
        font-family: "TradeGothicLT-BoldCondTwenty", sans-serif;
        font-size: 18px;
        font-weight: normal;
        line-height: 21px;
        color: #101010;
        margin-bottom: 0px;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 80px; }
        @media screen and (max-width: 1100px) {
          #footer .navigation ul li {
            margin-right: 30px; } }
        @media screen and (max-width: 991px) {
          #footer .navigation ul li {
            margin-right: 25px; } }
        @media screen and (max-width: 767px) {
          #footer .navigation ul li {
            text-align: center;
            display: block;
            margin-right: 0px;
            margin-bottom: 28px; } }
        #footer .navigation ul li:last-child {
          margin-right: 0px; }
        #footer .navigation ul li a {
          color: #101010; }
          #footer .navigation ul li a:hover {
            color: #00a261;
            text-decoration: none; }
        #footer .navigation ul li .fa {
          font-size: 14px;
          vertical-align: baseline; }
      #footer .navigation ul li:last-child {
        margin-bottom: 0px; }
  #footer .copyright {
    background-color: #e5e5e5;
    padding: 14px 0; }
    #footer .copyright ul {
      display: table;
      margin: 0 auto; }
      #footer .copyright ul li {
        font-family: "TradeGothicLT", sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 21px;
        color: #a7a9ac;
        margin-bottom: 0px;
        padding-right: 14px;
        text-transform: uppercase;
        display: inline-block;
        position: relative; }
        @media screen and (max-width: 767px) {
          #footer .copyright ul li {
            text-align: center;
            padding-right: 0px;
            margin-bottom: 18px;
            display: block; } }
        #footer .copyright ul li::before {
          content: '/';
          right: 6px;
          top: 0px;
          position: absolute; }
          @media screen and (max-width: 767px) {
            #footer .copyright ul li::before {
              display: none; } }
        #footer .copyright ul li a {
          color: #a7a9ac;
          vertical-align: baseline; }
          #footer .copyright ul li a:hover {
            color: #747374;
            text-decoration: none; }
      #footer .copyright ul li:last-child {
        padding-right: 0px; }
        #footer .copyright ul li:last-child::before {
          display: none; }

.toolkit {
  font-family: "TradeGothicLT", sans-serif; }
  .toolkit#hero-index {
    height: 500px; }
    .toolkit#hero-index h1 {
      font-size: 30px;
      line-height: 1.1; }
      @media (min-width: 768px) {
        .toolkit#hero-index h1 {
          font-size: 48px; } }
    @media (min-width: 768px) {
      .toolkit#hero-index {
        height: 700px; } }
  .toolkit h2 {
    font-family: "TradeGothicLT-BoldCondTwenty", sans-serif;
    font-size: 56px;
    font-weight: normal;
    line-height: 56px;
    color: #002a5c;
    margin: 64px auto 32px;
    text-transform: uppercase;
    text-align: center;
    background: none;
    height: auto; }
  .toolkit .downloads-list {
    margin-bottom: 50px; }
    .toolkit .downloads-list a.list-group-item:focus,
    .toolkit .downloads-list a.list-group-item:hover {
      color: #fff;
      background-color: #00a261; }
  .toolkit .btn-primary {
    background-color: #00a261;
    border-color: #006f42; }

/*# sourceMappingURL=style.css.map */
