.toolkit {
	font-family: "TradeGothicLT", sans-serif;

	&#hero-index {
		height: 500px;

		h1 {
			font-size: 30px;
			line-height: 1.1;

			@media ( min-width: 768px ) {
				font-size: 48px;
			}
		}

		@media ( min-width: 768px ) {
			height: 700px;
		}
	}

	h2 {
		font-family: "TradeGothicLT-BoldCondTwenty", sans-serif;
		font-size: 56px;
		font-weight: normal;
		line-height: 56px;
		color: #002a5c;
		margin: 64px auto 32px;
		text-transform: uppercase;
		text-align: center;
		background: none;
		height: auto;
	}

	.downloads-list {
		margin-bottom: 50px;

		a.list-group-item:focus,
		a.list-group-item:hover {
			color: #fff;
			background-color: $limegreen;
		}
	}

	.btn-primary {
		background-color: $limegreen;
		border-color: darken($limegreen, 10%);
	}
}