/*
Theme Name: Mid-American Conference MACTION
Theme URI: http://something.com
Description: Description here
Version: 0.5
Author: Gregory Spraggins for 160over90
Author URI: http://160over90.com
*/

@import "reset";
@import "fonts";

/*----------- VARIABLES ------------*/

$black: #101010;
$white: #ffffff;
$yellow: #ffea00;
$limegreen: #00a261;
$oldnavy: #002a5c;

/*------------- MIXINS -------------*/

@mixin vitesse-format($size, $weight, $height, $colour, $bottom) {
	font-family: 'Vitesse A', 'Vitesse B';
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
	color: $colour;
	margin-bottom: $bottom;
}

@mixin tradegothic-format($size, $weight, $height, $colour, $bottom) {
	font-family: "TradeGothicLT", sans-serif;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
	color: $colour;
	margin-bottom: $bottom;
}

@mixin tradegothic2-format($size, $weight, $height, $colour, $bottom) {
	font-family: "TradeGothicLT-BoldCondTwenty", sans-serif;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
	color: $colour;
	margin-bottom: $bottom;
}

/*------------- BODY ---------------*/

body {
	overflow-x: hidden;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.cleaner {
	clear:both;
	font-size:0px;
	height:0px;
}

p {
	word-wrap: break-word;
}

em {
	font-style:italic;
	vertical-align:baseline;
}

strong {
	font-weight:600;
	vertical-align: baseline;
}

span {
	vertical-align:baseline;
}

img {
	height: auto;
	width: auto;
	max-width: 100%;
}

.row {
	max-width: 1200px ;
	margin: 0 auto;
}

.rotate-3 {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	writing-mode: lr-tb;
}

.rotate-357 {
	-webkit-transform: rotate(357deg);
	-moz-transform: rotate(357deg);
	-o-transform: rotate(357deg);
	writing-mode: lr-tb;
}

.standard_transition {
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.slow_transition {
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.centered {
	margin: 0 auto;
 	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.no-csstransforms3d .centered {
	top: 20%;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

#faux-background {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: top center;
	position: fixed;
	top: 0px;
	display: block;
	z-index: -1;
}

#faux-container {
	overflow-x: hidden; 
	height: 100%;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.divider-con {
	height: 0px;
	position: relative;
	z-index: 8;

	.divider1, .divider2, .divider3, .divider4 {
		max-width: none;
		min-width: 100%;
		width: 1400px;
		position: absolute;
	}

	.divider1 {
		top: -50px;
	}

	.divider2 {
		top: -100px;
	}

	.divider3 {
		top: -40px;
	}

	.divider4 {
		top: -40px;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
}

h2 {
	@include vitesse-format(35px, 700, 94px, $black, 0px);
	text-transform: uppercase;
	height: 94px;
	width: 355px;
	max-width: 100%;
	background-image: url(images/tape.png);
	margin: 0 auto;
	display: block;
	z-index: 5;
	position: relative;
	text-align: center;

	&.macdigital {
		top: -70px;
	}

	@media screen and (max-width : 767px) {
		font-size: 30px;
		background-size: 320px;
		height: 76px;
		width: 320px;
		line-height: 76px;
		background-repeat: no-repeat;
	}
}

//Buttons

.green-btn {
	@include vitesse-format(25px, 500, 50px, $white, 80px);
	background-color: $limegreen;
	padding: 0 54px;
	display: table;
	cursor: pointer;
	text-decoration: none;
	@extend .slow_transition;

	@media screen and (max-width : 767px) {
		font-size: 20px;
		padding: 0 30px;
	}

	&:hover, &:focus {
		text-decoration: none;
		color: $white;
		background-color: $oldnavy;
	}

	.fa {
		vertical-align: baseline;
	}
}

/*------------- HEAD ---------------*/

#header {
	height: 0px;
	width: 100%;
	position: fixed;
	z-index: 10;

	.row {
		height: 0px;
		position: relative;
	}
}

//Animated Hamburger Dump
#nav-toggle { 
	position: absolute; 
	right: 30px;
	top: 60px;
	cursor: pointer; 
	padding: 10px 35px 16px 0px;
	display: block;

	//SPECIAL FOR INDEX. REMOVE IF APPROPRIATING
	&.index {
		top: 30px;

		@media screen and (max-width : 767px) {
			top: 50px;
		}

		span, span:before, span:after {
			background: $oldnavy;
		}
	}

	span, span:before, span:after {
		cursor: pointer;
		border-radius: 1px;
		height: 4px;
		width: 35px;
		background: $white;
		position: absolute;
		display: block;
		content: '';
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
		-ms-transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
	}

	span {

		&:before {
			top: -10px; 
		}

		&:after {
			bottom: -10px;
		}
	}
}

#nav-toggle.active {

	&.index {

		span:before, span:after {
			background: $white;
		}
	}

	span {
		background-color: transparent;

		&:before, &:after {
			top: 0;
		}

		&:before {
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
		}

		&:after {
			-moz-transform: translateY(-10px) rotate(-45deg);
			-webkit-transform: translateY(-10px) rotate(-45deg);
			-ms-transform: translateY(-10px) rotate(-45deg);
			-o-transform: translateY(-10px) rotate(-45deg);
			top: 10px;
		}
	}
}
//END Animated Hamburger Dump

/*------------- MENU ---------------*/

#overlay-menu {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.94);
	overflow-y: auto;
	position: fixed;
	z-index: 9;
	display: none;

	ul {
		@extend .centered;

		li {
			@include tradegothic2-format(35px, normal, 40px, $white, 16px);
			text-transform: uppercase;
			text-align: center;

			@media screen and (max-width : 767px) {
				font-size: 22px;
				line-height: 22px;
			}

			a {
				color: $white;
				@extend .standard_transition;

				&:hover {
					color: $limegreen;
					text-decoration: none;

					.fa {
						color: $limegreen;
					}
				}
			}

			.fa {
				font-size: 18px;
				color: #a7a9ac;
				vertical-align: baseline;
			}
		}
	}
}

/*------------- HERO ---------------*/

#hero {
	height: 100%;
	background-size: cover;
	background-image: url(images/home-herobackground.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;

	@media screen and (max-width : 991px) {
		height: auto;
		padding-bottom: 220px;
	}

	.row:first-child {
		height: 0px;

		@media screen and (max-width : 991px) {
			margin-bottom: 150px;
		}

		.col-sm-12 {
			height: 0px;
		}
	}

	.logo {
		width: 175px;
		margin-top: 20px;
		z-index: 10;
		position: relative;

		@media screen and (max-width : 767px) {
			max-width: 150px;
		}
	}

	#welcome-con {

		@media screen and (min-width : 992px) {
			margin: 0 auto;
		 	position: relative;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		}

		#welcome {
			width: 100%;
			padding-top: 80px;
			margin: 0 auto;
			display: block;

			@media screen and (max-width : 991px) {
				max-width: 492px;
			}
		}

		#cta {
			width: 100%;
			max-width: 505px;
			margin: 0 auto;
			display: block;

			@media screen and (max-width : 991px) {
				max-width: 440px;
				margin-top: -30px;
			}
		}
	}

	.bottom {
		width: 100%;
		position: absolute;
		bottom: 100px;

		.arrow {
			display: block;
			margin: 0 auto;
			cursor: pointer;
		}
	}
}

.no-csstransforms3d #hero #welcome-con {
	@media screen and (min-width : 992px) {
		top: 20% !important;
	}
}

/*------------- HERO2 ---------------*/

#video {
	background-size: cover;
	background-image: url(images/home-herobackground2.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	padding: 200px 0;
	position: relative;

	.overlay {
		top: 0px;
	}

	.vid-con {
		max-width: 1170px;
		margin: 0 auto;
		z-index: 2;
		display: none;
	}

	.row {
		position: relative;
		z-index: 1;

		.col-sm-8, .col-md-8 {
			z-index: 3;
		}
	}

	.spotlightcon {
		position: relative;
		@extend .slow_transition;

		.teamlogos {
			margin: 0 auto;
			display: block;
			position: relative;
			z-index: -1;

			@media screen and (max-width : 767px) {
				opacity: 0;
			}
		}
	}

	.teams {
		margin: 0 auto;
		display: block;
	}

	.spotlight {
		width: 100%;
		max-width: 440px;
		margin: 0 auto;
		margin-bottom: 60px;
		display: block;
	}

	.watch-btn {
		@include vitesse-format(25px, normal, 66px, $yellow, 0px);
		text-transform: uppercase;
		padding: 0 28px;
		border: 2px solid $white;
		display: table;
		margin: 0 auto;
		cursor: pointer;
		@extend .slow_transition;

		&:hover {
			color: $black;
			background-color: $white;

			.fa {
				color: $black;
			}
		}

		.fa {
			color: $white;
			margin-right: 20px;
			@extend .slow_transition;
		}
	}

	.spotlight-img {
		position: absolute;
		z-index: 0;

		&.left {
			top: 0%;
			left: 0px;
			z-index: 1;

			@media screen and (max-width : 991px) {
				left: -215px;
			}

			@media screen and (max-width : 767px) {
				top: 10%;
				left: -80px;
			}
		}

		&.right {
			top: 20%;
			right: 0px;

			@media screen and (max-width : 991px) {
				right: -125px;
			}

			@media screen and (max-width : 767px) {
				top: 30%;
				right: -85px;
			}
		}
	}
}

#MACDigital {
	background-color: $oldnavy;
	position: relative;
	z-index: 1;
	padding-top: 70px;
	padding-bottom: 100px;

	&::before, &::after {
		position: absolute;
		content: '';
		pointer-events: none;
	}

	&::before {
		top: 0px;
		left: -25%;
		z-index: -1;
		width: 150%;
		height: 75%;
		background: inherit;
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
		-webkit-transform-origin: right 0 0;
		transform-origin: right 0 0;
	}

	.row:first-child {
		margin-bottom: 30px;
	}

	.embed-container {
		margin-bottom: 14px;
	}

	.thumb {
		position: relative;
		margin-bottom: 14px;
		display: block;

		img {
			width: 100%;
		}

		&:hover .fa {
			opacity: .6;
		}

		.fa {
			font-size: 63px;
			color: $white;
			opacity: .9;
			display: table;
			@extend .slow_transition;
		}
	}

	h4 {
		@include tradegothic-format(20px, 700, normal, $black, 18px);
		text-transform: uppercase;

		a {
			color: $white;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.line-btn {
		@include vitesse-format(25px, 500, 50px, $white, 80px);
		border: 2px solid $white;
		padding: 0 28px;
		margin: 0 auto;
		display: table;
		@extend .standard_transition;

		@media screen and (max-width : 767px) {
			font-size: 20px;
			padding: 0 30px;
		}

		&:hover {
			color: $oldnavy;
			text-decoration: none;
			background-color: $white;
		}

		.fa {
			font-size: 13px;
			vertical-align: middle;
		}
	}
}

#share-divider {
	background-color: $limegreen;
	position: relative;
	z-index: 1;
	padding-top: 10px;
	padding-bottom: 25px;

	&::before, &::after {
		position: absolute;
		content: '';
		pointer-events: none;
	}

	&::before {
		top: 0px;
		left: -25%;
		z-index: -1;
		width: 150%;
		height: 75%;
		background: inherit;
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
		-webkit-transform-origin: right 0 0;
		transform-origin: right 0 0;
	}

	&::after {
		top: 100%;
		left: -25%;
		z-index: -1;
		width: 150%;
		height: 75%;
		background: inherit;
		-webkit-transform: rotate(-2deg);
		transform: rotate(-2deg);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	}

	h5 {
		@include tradegothic-format(24px, 700, 24px, $black, 34px);
		text-transform: uppercase;
		text-align: center;
	}

	ul {
		margin: 0 auto;
		display: table;

		li {
			font-size: 34px;
			display: inline-block;
			margin-right: 56px;
			color: $black;

			&:last-child {
				margin-right: 0px;
			}

			a {
				color: $black;
				@extend .standard_transition;

				&:hover {
					color: $white;
				}
			}
		}
	}

	.bottom {
		height: 0px;
		width: 100%;
		position: absolute;
		bottom: -10px;
	}
}

.in-the-news {
	top: 25px;
}

#home-stories {
	padding: 200px 0;
	background-image: url(images/home-storiestexture-top.png), url(images/home-storiestexture-bottom.png);
	background-repeat: no-repeat, no-repeat;
	background-position: top center, bottom center;
	background-size: 100%, 100%;
	background-color: #f5f5f5;

	@media screen and (max-width : 767px) {
		padding-bottom: 100px;
	}

	h3 {
		@include tradegothic2-format(56px, normal, 56px, $oldnavy, 64px);
		text-transform: uppercase;
		text-align: center;

		@media screen and (max-width : 1400px) {

		}

		@media screen and (max-width : 767px) {
			font-size: 44px;
			line-height: 48px;
		}

		span {
			color: $limegreen;
			vertical-align: baseline;
		}
	}

	.description {
		@include vitesse-format(18px, normal, 40px, $black, 50px);
		text-align: center;
	}

	.green-btn {
		margin: 0 auto 80px auto;
	}

	.story-module {
		/*float: right;*/

		@media screen and (max-width : 767px) {
			padding: 0px;
		}

		&:nth-child(even) {
			clear: left;
		}

		&:nth-child(2) {
			margin-top: 150px;

			@media screen and (max-width : 767px) {
				margin-top: 46px;
			}
		}

		.contents {
			height: auto;
		}
	}
}

#slider-con {
	position: relative;
	margin-bottom: 70px;

	>.col-sm-12 {
		padding-right: 0px;
		padding-left: 0px;
	}

	.navigator {
		position: absolute;
		background-color: $limegreen;
		color: $white;
		height: 70px;
		width: 70px;
		border-radius: 35px;
		cursor: pointer;
		overflow: hidden;
		z-index: 1;
		@extend .centered;
		@extend .standard_transition;

		@media screen and (max-width : 1400px) {
			display: none !important;
		}

		@media screen and (max-width : 767px) {

		}

		&:hover {
			background-color: $oldnavy;

			.fa {
				
			}
		}

		&.prev {
			left: -80px;

			.fa {
				margin-left: -4px;

				@media screen and (max-width : 767px) {
					margin-left: -5px;
				}
			}
		}

		&.next {
			right: -80px;

			.fa {
				margin-right: -4px;

				@media screen and (max-width : 767px) {
					margin-right: -5px;
				}
			}
		}

		.fa {
			font-size: 18px;
			text-align: center;
			display: block;
			margin-top: 28px;

			@media screen and (max-width : 767px) {
				font-size: 18px;
				margin-top: 15px;
			}
		}
	}
}

#press-slider {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;

	.slick-list {
		overflow: visible !important;
	}

	.slide {
		min-height: 500px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.slick-dots {
		top: -40px;
		bottom: auto;
		display: none !important;

		@media screen and (max-width : 1400px) {
			display: block !important;
		}

		li {
			margin: 0 2px;

			button:before {
				font-size: 10px;
			}

			&.slick-active {

				button:before {
					color: $limegreen;
				}
			}
		}
	}
}

.story-module {

	img {
		width: 100%;
		@extend .standard_transition;

		&:hover {
			opacity: .8;
		}
	}

	.contents {
		background-color: $white;
		padding: 34px 20px 30px 20px;
		height: 300px;

		.author {
			@include tradegothic-format(14px, normal, 21px, $black, 12px);
			text-transform: uppercase;

			span {
				color: #b9b9b9;
				@extend .standard_transition;
			}

			a {
				color: $black;
				@extend .standard_transition;

				&:hover {
					color: $limegreen;
					text-decoration: none;

					span {
						color: $limegreen;
					}
				}
			}
		}

		h4 {
			@include tradegothic-format(20px, 700, normal, $black, 18px);
			text-transform: uppercase;

			a {
				color: $black;
				@extend .standard_transition;

				&:hover {
					color: $limegreen;
					text-decoration: none;
				}
			}
		}

		p {
			@include tradegothic-format(16px, normal, 25px, #747374, 0px);
		}
	}
}

#home-mac-talk {
	background-image: url(images/mactalk-bg-1400x922.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	padding: 250px 0;

	@media screen and (max-width : 991px) {
		padding: 180px 0;
	}

	.fight {
		width: 100%;
		max-width: 490px;
		margin: 0 auto;
		display: block;

		@media screen and (max-width : 991px) {
			margin-bottom: 25px;
		}
	}

	p {
		@include vitesse-format(20px, 400, 30px, $white, 46px);

		@media screen and (max-width : 991px) {
			max-width: 530px;
			text-align: center;
			margin: 0 auto 46px auto;
		}

		&.invite {
			font-size: 24px;
			font-weight: 500;
			line-height: 35px;

			@media screen and (max-width : 991px) {
				text-align: center;
			}
		}

		.fa {
			font-size: 16px;
			color: $yellow;
			vertical-align: baseline;
		}
	}

	.green-btn {
		@media screen and (max-width : 991px) {
			margin: 0 auto 50px auto;
		}
	}
}

#home-social-stadium {
	background-image: url(images/home-socialstadiumbck.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	padding: 250px 0;
	position: relative;

	@media screen and (max-width : 991px) {
		padding: 180px 0;
	}

	@media screen and (max-width : 767px) {
		text-align: center;
	}

	h3 {
		@include tradegothic2-format(60px, normal, normal, $black, 20px);
		text-transform: uppercase;

		@media screen and (max-width : 767px) {
			font-size: 43px;
		}

		span {
			color: $limegreen;
		}
	}

	.description {
		@include vitesse-format(20px, normal, 35px, $black, 50px);

		@media screen and (max-width : 991px) {
			display: none;
		}

		&.mobile {
			display: none; 

			@media screen and (max-width : 991px) {
				display: block !important;
			}
		}
	}

	.green-btn {
		margin-bottom: 0px;

		@media screen and (max-width : 767px) {
			margin: 0 auto;
		}
	}

	.product-placement {
		position: absolute;
		right: 0px;
		top: 170px;
		max-width: none;

		@media screen and (max-width : 1900px) {
			right: -300px;
		}

		@media screen and (max-width : 1260px) {
			right: -600px;
		}

		@media screen and (max-width : 991px) {
			right: -650px;
		}

		@media screen and (max-width : 850px) {
			right: -700px;
		}

		@media screen and (max-width : 767px) {
			display: none;
		}
	}
}

/*------------- INDEX --------------*/

#hero-index {
	height: 600px;
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	overflow-x: hidden;

	@media screen and (max-width : 767px) {
		height: 700px;
	}

	.row:first-of-type {
		height: 0px;

		.col-sm-12 {
			height: 0px;
		}
	}

	.logo {
		width: 175px;
		margin-top: 10px;
		z-index: 10;
		position: relative;

		@media screen and (max-width : 767px) {
			max-width: 150px;
		}
	}

	&.index {
		background-image: url(images/index-hero.jpg);
	}

	&.single {
		background-image: url(images/default-banner.jpg);
	}

	&.mactalk {
		height: 300px;

		@media screen and (max-width : 991px) {
			height: 220px;
		}
	}

	.cta {
		text-align: center;
		padding-top: 100px;
	}

	.top-frame {
		max-width: none;
		min-width: 100%;
		width: 1400px;
		position: absolute;
		top: 0px;
	}

	h1 {
		@include vitesse-format(24px, bold, 35px, $white, 0px);
		text-transform: uppercase;
	}

	h3 {
		@include tradegothic2-format(52px, normal, 52px, $white, 34px);
		text-transform: uppercase;
		text-align: center;

		@media screen and (max-width : 767px) {
			font-size: 44px;
			line-height: 48px;
		}
	}

	p {
		@include vitesse-format(18px, 400, 30px, $white, 0px);
		max-width: 900px;
		margin: 0 auto;
	}
}

#index {
	padding-top: 60px;
	padding-bottom: 100px;
	position: relative;
	z-index: 1;

	background-color: $white;
	background-image: url(images/home-storiestexture-bottom.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100%;

	&::before, &::after {
		position: absolute;
		content: '';
		pointer-events: none;
		background-color: $white !important;
		background-image: none !important;
	}

	&::before {
		top: 0px;
		left: -25%;
		z-index: -1;
		width: 150%;
		height: 25%;
		background: inherit;
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
		-webkit-transform-origin: 0 0;
		transform-origin: right 0 0;
	}

	&.related {
		padding-top: 150px;
		padding-bottom: 60px;
	}

	.top {
		position: absolute;
		width: 100%;
		top: -90px;

		@media screen and (max-width : 991px) {
			top: -60px;
		}
	}

	.story-module {
		max-height: none;
		margin-bottom: 70px;

		@media screen and (max-width : 767px) {
			margin-bottom: 46px;
		}
	}
}

.previous-link {
	@include vitesse-format(16px, 500, 28px, $oldnavy, 28px);
	display: table;

	@media screen and (max-width : 767px) {
		margin: 0 auto 28px auto;
	}
}

/*------------ STORY --------------*/

#story {
	padding-top: 60px;
	padding-bottom: 100px;
	position: relative;
	z-index: 1;

	background-color: $white;

	&::before, &::after {
		position: absolute;
		content: '';
		pointer-events: none;
		background-color: $white !important;
		background-image: none !important;
	}

	&::before {
		top: 0px;
		left: -25%;
		z-index: -1;
		width: 150%;
		height: 25%;
		background: inherit;
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
		-webkit-transform-origin: 0 0;
		transform-origin: right 0 0;
	}

	.author {
		@include tradegothic-format(14px, normal, 21px, $black, 14px);
		text-transform: uppercase;

		span {
			color: #b9b9b9;
			@extend .standard_transition;
		}

		a {
			color: $black;
			@extend .standard_transition;

			&:hover {
				color: $limegreen;
				text-decoration: none;

				span {
					color: $limegreen;
				}
			}
		}
	}

	h4 {
		@include tradegothic-format(20px, 700, normal, $black, 22px);
		text-transform: uppercase;

		a {
			color: $black;
			@extend .standard_transition;

			&:hover {
				color: $limegreen;
				text-decoration: none;
			}
		}
	}

	p {
		@include tradegothic-format(18px, normal, 35px, $black, 30px);
	}
}

/*------------ MACTALK ------------*/

#mactalk {
	background-color: $white;
	background-image: url(images/home-storiestexture-bottom.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100%;
	padding-bottom: 140px;
	position: relative;
	overflow: hidden;

	.row {
		@media screen and (max-width : 991px) {
			margin: 0 auto;
			max-width: 480px;
		}
	}

	.previous-link {
		@media screen and (max-width : 991px) {
			display: none;
		}
	}

	h1 {
		@include tradegothic2-format(60px, normal, 60px, $oldnavy, 40px);
		text-transform: uppercase;

		@media screen and (max-width : 991px) {
			font-size: 44px;
			text-align: center;
		}
	}

	.instructions {
		margin-bottom: 40px;

		li {
			@include vitesse-format(18px, 500, 22px, $black, 14px);

			padding-left: 38px;
			position: relative;

			&:before {
				content: "\f005";
				font-family: FontAwesome;
				color: $limegreen;

				position: absolute;
				left: 0px;
			}
		}
	}

	h6 {
		@include tradegothic2-format(20px, normal, 35px, $oldnavy, 10px);
		text-transform: uppercase;
	}

	.share {

		li {
			display: inline-block;
			margin: 0 12px;

			a {
				height: 55px;
				width: 55px;
				border-radius: 27px;
				background-color: $limegreen;
				display: block;
				position: relative;
				cursor: pointer;
				@extend .standard_transition;

				&:hover {
					background-color: $oldnavy;
				}

				.fa {
					font-size: 27px;
					color: $white;
					display: table;
					@extend .centered;
				}
			}
		}
	}
}

#snap-front {
	width: 100%;
	display: block;
}

#team-option, #talk-option {
	position: relative;
	cursor: pointer;

	@media screen and (max-width : 991px) {
		margin-bottom: 36px;
	}
}

#team-option {
	z-index: 1;
}

.current-option {
	@include tradegothic2-format(20px, normal, 35px, $white, 14px);
	text-transform: uppercase;
	width: 100%;
	max-width: 450px;
	padding: 10px 48px 10px 30px;
	background-color: $limegreen;
	background-image: url(images/dropdown-arrow.png);
	background-repeat: no-repeat;
	background-position: center right 19px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.option-list {
	position: absolute;
	top: 55px;
	width: 100%;
	max-width: 450px;
	display: none;
	max-height: 240px;
	overflow-y: scroll;
	z-index: 4;

	&.toggle {
		display: block;
	}

	li {
		@include tradegothic2-format(16px, normal, 14px, $white, 0px);
		background-color: $oldnavy;
		padding: 10px 0px 10px 30px;
	}
}

#your-image, #your-image2, #your-image-mobile {
	position: relative;
}

#your-image {
	@media screen and (max-width : 991px) {
		display: none;
	}
}

#your-image2 {
	top: 0px;
	right: 0px;
	z-index: -1;
	position: absolute;
}

#your-image-mobile {
	display: none;
	margin-bottom: 36px;

	@media screen and (max-width : 991px) {
		display: block;
	}
}

canvas {
	display: none;
}

/*------------ FOOTER -------------*/

#footer {
	position: relative;
	z-index: 1;

	@media screen and (max-width : 767px) {
		overflow-x: hidden;
	}

	&::before, &::after {
		position: absolute;
		content: '';
		pointer-events: none;
		background-color: $white !important;
	}

	&::before {
		top: -5px;
		left: -25%;
		z-index: -1;
		width: 150%;
		height: 90%;
		background: inherit;
		-webkit-transform: rotate(-1deg);
		transform: rotate(-1deg);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	}

	.navigation {
		height: 78px;
		padding-top: 25px;
		background-color: $white;

		@media screen and (max-width : 767px) {
			height: auto;
			padding: 70px 0;
		}

		ul {
			display: table;
			margin: 0 auto;

			li {
				@include tradegothic2-format(18px, normal, 21px, $black, 0px);
				text-transform: uppercase;
				display: inline-block;
				margin-right: 80px;

				@media screen and (max-width : 1100px) {
					margin-right: 30px;
				}

				@media screen and (max-width : 991px) {
					margin-right: 25px;
				}

				@media screen and (max-width : 767px) {
					text-align: center;
					display: block;
					margin-right: 0px;
					margin-bottom: 28px;
				}

				&:last-child {
					margin-right: 0px;
				}

				a {
					color: $black;
					@extend .standard_transition;

					&:hover {
						color: $limegreen;
						text-decoration: none;
					}
				}

				.fa {
					font-size: 14px;
					vertical-align: baseline;
				}
			}

			li:last-child {
				margin-bottom: 0px;
			}
		}
	}

	.copyright {
		background-color: #e5e5e5;
		padding: 14px 0;

		ul {
			display: table;
			margin: 0 auto;

			li {
				@include tradegothic-format(12px, 700, 21px, #a7a9ac, 0px);
				padding-right: 14px;

				text-transform: uppercase;
				display: inline-block;
				position: relative;

				@media screen and (max-width : 767px) {
					text-align: center;
					padding-right: 0px;
					margin-bottom: 18px;
					display: block;
				}

				&::before {
					content: '/';
					right: 6px;
					top: 0px;
					position: absolute;

					@media screen and (max-width : 767px) {
						display: none;
					}
				}

				a {
					color: #a7a9ac;
					vertical-align: baseline;

					@extend .standard_transition;

					&:hover {
						color: #747374;
						text-decoration: none;
					}
				}
			}

			li:last-child {
				padding-right: 0px;

				&::before {
					display: none;
				}
			}
		}
	}
}

@import "toolkit";